@(user: Usr)

@if(user != null) {
	
	<!-- Profile menu tab-->
	<ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @Messages("profile.menu")<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@routes.Application.index()"><i class="fa fa-user"></i> @Messages("profile.preview")</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Application.index()"><i class="fa fa-edit"></i> @Messages("profile.edit")</a></li>
            </ul>
        </li>
    </ul>
	
	<!-- Referrer menu tab -->
	<ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-hand-o-right"></i> @Messages("referrer.menu")<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@routes.Application.index()"><i class="fa fa-cloud-upload"></i> @Messages("referrer.post")</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Application.index()"><i class="fa fa-list-alt"></i> @Messages("referrer.view")</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Application.index()"><i class="fa fa-inbox"></i> @Messages("referrer.mailbox")</a></li>
            </ul>
        </li>
    </ul>
    
    <!-- Job seeker menu tab -->
	<ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-hand-o-right"></i> @Messages("jobseeker.menu")<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@routes.Application.index()"><i class="fa fa-list-alt"></i> @Messages("jobseeker.applied")</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Application.index()"><i class="fa fa-inbox"></i> @Messages("jobseeker.mailbox")</a></li>
            </ul>
        </li>
    </ul>
	
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @user.fullname <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="@controllers.account.settings.routes.Index.index()"><i class="fa fa-wrench"></i> @Messages("settings")</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Application.logout()"><i class="fa fa-power-off"></i> @Messages("logout")</a></li>
            </ul>
        </li>
    </ul>
}
